/* code for all pages – main elements, plus header */
/* storing variables */
:root {
    --board-color: #E0E1DD;
    --button-color: #778DA9;
    --body-color: #004d4d; /* 415A77 004d4d 006666*/
    --text-color: #E0E1DD;
    --button-text: #0D1B2A;
}

* {
    box-sizing: border-box;
}

/* for all files */

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: var(--body-color);
    color: var(--text-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


p {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--text-color);
}

a:hover {
    color: mediumseagreen;
    cursor: pointer;
}


h1 {
    font-family: "Pixelify Sans";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    padding: 0 0 1rem 0;
    font-size: 3rem;
}

button {
    max-width: 30%;
    min-width: 15%;
    min-height: 5rem;
    margin: auto;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--button-text);
    background-color: var(--button-color);
}

h5 {
    font-size: 1.1rem;
}

/* classes */

.top-banner {
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-items: start;
    font-family: "Pixelify Sans";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.banner-link {
    font-weight: 600;
    font-size: 1.2rem;
    font-family: "Pixelify Sans";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.banner-link:hover {
    color: mediumseagreen;
    cursor: pointer;
}

.site-menu {
    min-width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro {
    margin: auto;
    width: 50%;
    text-wrap: wrap;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-image {
    width: 10%;
    margin: auto;
}

/* IDs */

/* BUTTON */
#play-game {
    font-size: 1.5rem;
    width: 20%;
    margin: 1rem auto;
}

/* media queries */
@media (max-width: 1000px) {

    .top-banner {
        font-size: 1rem;
        margin: 1rem;
    }

    #play-game {
        width: 60%;
        margin: 2rem auto;
        font-size: 1rem;
    }

    .page-image {
        width: 30%;
    }

    #index-main {
        padding: 6rem 0;
    }

}